/* demo

* {
  outline: none;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body {
  background: #04091E;
  font-family: system-ui;
  color: #04091e;
  text-align: center;
}

.intro,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.intro {
  background: #6e4ce1;
  color: #f6f2e8;
}

footer {
  background: #04091E;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
} */
/* horizontal scroll */

#horizontal-scoll {
  padding: 200px 0;
}

.horizontal-scoll-wrapper {
  overflow: hidden;
  height: 525px;
}

.horizontal {
  display: flex;
  height: 100%;
  gap: 2rem;
}

.horizontal > div {
  display: flex;
  flex-shrink: 0;
  padding: 0 5px;
}

.horizontal > div:first-child {
  padding: 0 5px 0 15px;
}

.horizontal > div:last-child {
  padding: 0 15px 0 5px;
}

.horizontal .card {
  align-items: stretch;
  width: 1000px;
  padding: 50px 40px;
  background: #6e4ce1;
  border-radius: 38px;
  color: #f6f2e8;
}
